html { font-size: 120%; color: #333; }

.wrapper { margin: 0 auto; max-width: 24rem; width: 95%; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.row { *zoom: 1; }
.row:before, .row:after { content: " "; display: table; }
.row:after { clear: both; }

.column.full { width: 100%; }
.column.half { width: 50%; }
.column { float: left; padding: 10px; text-align: center; }


.column.title { font-size: 1.4rem; }
.column.title button { margin-left: 10px; }

.column.time { font-size: 1.2rem; }

button {
  display: inline-block;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #333;
  background: white;
  border: none;
}

button.swap { padding: 0rem .5rem; }

button.reload { width: 80%; padding: .5rem; }
